<configuration>
    <conversionRule conversionWord="thang" converterClass="org.danbrough.iotest.ColorConverter" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%thang(%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg)</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
